################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuizProjectCOM326/FileContentIndex/3c63b851-c70a-43f7-9c80-d97a40fbe083.vsidx
/.vs/QuizProjectCOM326/FileContentIndex/faecfbaa-b501-4e07-b564-769b31bb4c61.vsidx
.vs/